{% extends 'base.html.twig' %}

{% block title %}
	/ Modifications Types
{% endblock %}

{% block titre %}
	{{titre}}
{% endblock %}
{% block body %}
	<div class="mt-5">
		<div class="row align-items-center">
			<div class="form-group col-2 ml-5">
				<img src="{{asset('img/types/' ~ type.image)}}" alt="{{type.libelle}}" class="rounded img-thumbnail img-fluid" style="max-width:80%">
			</div>
			<div class="form-group col">
				{{ form_start(form, {'attr':{'class':'modify-form'}}) }}
				{{ form_row (form.libelle, {'attr':{'class':'font-weight-bold'},'label': 'Type d\'aliment'})}}
				{{ form_widget(form) }}
				<input type="submit" class="fa-pull-right btn btn-primary form-group" value="Enregistrer">
				<a href="{{path('admin_list_type')}}" class="fa-pull-right btn btn-warning form-group mr-1 text-white">Annuler</a>
				{{ form_end(form) }}
			</div>
		</div>
	</div>
{% endblock %}
