{% extends 'base.html.twig' %}

{% block title %}
	/ Add aliment
{% endblock %}

{% block titre %}
	{{titre}}
{% endblock %}
{% block body %}
<div class="mt-5">
	<div class="row">
		<div class="form-group col-12">
			{{ form_start(form, {'attr': {'class': 'add-form'}})}}
			{{ form_row(form.nom,{"attr":{"class":"font-weight-bold","placeholder":"Nom de l'aliment"},"label":"Nom de l'aliment"})}}
			{{ form_row(form.prix,{"attr":{"placeholder":"Prix moyen au Kg"},"label":"Prix moyen/Kg"})}}
			{{form_widget(form)}}
			<input type="submit" class="fa-pull-right btn btn-primary form-group" value="Enregistrer">
			<a href="{{path('admin')}}" class="fa-pull-right btn btn-warning form-group mr-1 text-white">Annuler</a>
			{{ form_end(form) }}
		</div>
	</div>
</div>
{% endblock %}
